# Exploring eBay Car Sales Data

This project will be using a dataset of used cars from eBay Kleinanzeigen, a classified section of the German eBay website.

The main purpose of this project is to clean data and perform simple aggregate analysis on the price and mileage of the listed cars.

The original dataset is not available anymore. It was originally scraped and uploaded to Kaggle by user [orgesleka](https://www.kaggle.com/orgesleka).
However you can find a copy of it [here](https://data.world/data-society/used-cars-data) on the data.world website.

The version of the dataset we will be working on has been modified in the following ways:

* 50,000 data points from the full dataset (out of 370,000 data points) have been sampled by dataquest.io, to ensure the code runs quickly.
* The dataset has been dirtied a bit to more closely resemble what one would expect from a scraped dataset (the version uploaded to Kaggle was cleaned to be easier to work with).


## Introduction 

The dataset include the following columns:

    dateCrawled - When this ad was first crawled. All field-values are taken from this date.
    name - Name of the car.
    seller - Whether the seller is private or a dealer.
    offerType - The type of listing
    price - The price on the ad to sell the car.
    abtest - Whether the listing is included in an A/B test.
    vehicleType - The vehicle Type.
    yearOfRegistration - The year in which the car was first registered.
    gearbox - The transmission type.
    powerPS - The power of the car in PS.
    model - The car model name.
    kilometer - How many kilometers the car has driven.
    monthOfRegistration - The month in which the car was first registered.
    fuelType - What type of fuel the car uses.
    brand - The brand of the car.
    notRepairedDamage - If the car has a damage which is not yet repaired.
    dateCreated - The date on which the eBay listing was created.
    nrOfPictures - The number of pictures in the ad.
    postalCode - The postal code for the location of the vehicle.
    lastSeenOnline - When the crawler saw this ad last online.


Now lets begin the cleaning and analysis by improting the libraries we need to work with.

In [1]:
import pandas as pd                                   
import numpy as np
import datetime as dt

In [2]:
autos = pd.read_csv('autos.csv', encoding = 'Latin-1') #reads the csv file into pandas

## Exploring the Data

Just from a brief glance we can see the number of rows the dataframe has, the data types, the columns names, and how many columns have null values in them.

We can even print out the first five rows to get a better visual understanding on how our data looks like in a table format.

In [3]:
print(autos.info())
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB
None

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

We can make the following observations:

* The dataset contains 20 columns, most of which are strings.
* Some columns have null values, but none have more than ~20% null values.
* The column names use camelcase instead of Python's preferred snakecase, which means we can't just replace spaces with underscores.

## Cleaning the Data

Lets now start with the column names and rename them with a better  naming convention.

Instead of camel case we will rename the columns to follow snake case as for python that is the convention as per PEP8.

In [4]:
autos.rename(columns={'yearOfRegistration' : 'registration_year', 'monthOfRegistration' : 'registration_month', 'notRepairedDamage' : 'unrepaired_damage', 'dateCreated' : 'ad_created', 'dateCrawled' : 'date_crawled', 'offerType' : 'offer_type', 'vehicleType' : 'vehicle_type', 'powerPS' : 'power_ps', 'fuelType' : 'fuel_type', 'nrOfPictures' : 'n_pictures', 'postalCode' : 'postal_code', 'lastSeen' : 'last_seen'}, inplace = True)
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,n_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

Now that the columns are in its proper naming convention, lets explore the data a bit further to get statistical overview of each of the coloumns.

In [5]:
autos.describe(include = 'all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,n_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-04-02 11:37:04,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

Running the above code we can see that the price and odometer coloumns are listed as strings since they are not returning any statistics and have letters and special characters in them. Below we'll be converting them to number formats so we can extract further information and handle the data better.

In [6]:
autos['price'] = autos['price'].str.replace('$','').str.replace(',','')
autos = autos.astype({'price': int})

autos['odometer'] = autos['odometer'].str.replace(',','').str.replace('km','')
autos = autos.astype({'odometer' : int})

<ipython-input-6-43f026748439>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  autos['price'] = autos['price'].str.replace('$','').str.replace(',','')

Once they are in a numerical format, lets further explore the price and odometer coloumn.

In [7]:
print(autos['price'].describe().apply(lambda x: format(x, 'f')), '\n')
print(autos['odometer'].describe())

count       50000.000000
mean         9840.043760
std        481104.380500
min             0.000000
25%          1100.000000
50%          2950.000000
75%          7200.000000
max      99999999.000000
Name: price, dtype: object

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer, dtype: float64

We can see that there are outliers in the price column since min is 0 and max is 99999999. 
Another good indicator is the mean value is only a fraction of what the standard deviation is for this column.

Lets now attempt to remove the outliers in the price column.
We can first remove all the values where the cars price is 0 since, they would defintely be sold at some cost on the website.

In [8]:
autos = autos[autos['price']!= 0]
autos.shape

(48579, 20)

After removing the 0 priced rows we are left with 48579 rows, i.e 1421 rows were removed.

Lets now check outliers closer to the max value.

In the world of cars surely there are going to be expensive ones that cost millions, but in order to understand more about where to draw the line and decide what cars are the outliers of the higher range lets explore the unique values of the price column.

In [9]:
pd.options.display.max_rows = 4000 #displays upto 4000 rows without truncating the output
autos['price'].value_counts().sort_index()

1           156
2             3
3             1
5             2
8             1
9             1
10            7
11            2
12            3
13            2
14            1
15            2
17            3
18            1
20            4
25            5
29            1
30            7
35            1
40            6
45            4
47            1
49            4
50           49
55            2
59            1
60            9
65            5
66            1
70           10
75            5
79            1
80           15
89            1
90            5
99           19
100         134
110           3
111           2
115           2
117           1
120          39
122           1
125           8
129           1
130          15
135           1
139           1
140           9
145           2
149           7
150         224
156           2
160           8
170           7
173           1
175          12
179           1
180          35
185           1
188           1
190          16
193           1
195           2
198           1
199          41
200         266
205           1
210           1
215           2
217           1
219           1
220          33
222          12
225           8
230          12
235           2
238           1
240           3
248           1
249          13
250         291
251           1
255           1
260           5
269           1
270           6
275           7
277           1
280          30
285           1
290          19
295           1
299          56
300         384
310           1
320          12
325           5
329           2
330           8
333          17
340          11
349          15
350         335
356           1
359           1
360           8
369           1
370          21
375           7
378           1
379           1
380          29
385           1
388           1
390          26
395           2
399          71
400         321
410           1
414           1
420           9
425           4
430          13
435           1
440           1
444           8
449          12
450         265
459           1
460           5
470           7
475           4
480          25
485           2
490          34
495           4
499          92
500         781
501           1
510           2
517           1
520           8
525           4
530           8
540           2
549          13
550         356
554           1
555          33
560           4
566           1
570           7
575           5
578           1
579           1
580          20
590          52
595           2
598           2
599         122
600         531
606           1
620           7
625           5
628           1
630           3
640           3
644           1
648           1
649          14
650         419
655           1
660           5
666          14
669           2
670           6
675           5
679           1
680          30
686           1
689           2
690          68
695           3
699         127
700         395
710           1
719           1
720           7
725           2
729           1
730           5
740           3
744           1
745           2
749          23
750         433
755           1
760           8
770           6
777          20
780          19
785           1
789           1
790          45
795           2
799         120
800         498
810           3
820           6
825           4
829           1
830           6
834           1
839           1
840           5
846           1
849          13
850         410
855           3
860           1
870          12
875           3
879           1
880          14
885           1
887           1
888          29
889           1
890          66
895           3
898           1
899         129
900         420
910           1
919           1
920           1
925           1
930           4
940           2
945           2
949          11
950         379
951           1
958           1
960           1
965           2
970           7
975           2
980          48
985           4
989           2
990         147
995           5
996           1
998           5
999         434
1000        639
1039          1
1040          1
1049          6
1050         95
1059          1
1070          1
1080          6
1090          4
1095          3
1098          1
1099         44
1100        376
1111         39
1112          1
1119          1
1120          2
1149         10
1150        226
1169          1
1170          1
1180          4
1189          1
1190         37
1195          1
1199        126
1200        639
1201          2
1209          1
1212          2
1221          1
1222          3
1234          3
1240          2
1247          1
1249          4
1250        335
1265          1
1270          4
1275          1
1280         12
1285          3
1290         38
1295          1
1299        135
1300        371
1310          1
1325          1
1330          1
1333          3
1340          2
1345          2
1349          5
1350        276
1355          1
1370          3
1375          3
1379          1
1380         10
1385          1
1390         67
1395          5
1398          2
1399         95
1400        292
1414          1
1420          1
1425          2
1430          3
1432          1
1440          2
1444          4
1448          2
1449          8
1450        252
1466          1
1470          2
1475          2
1480          8
1485          1
1490         88
1494          1
1495          3
1497          1
1498          1
1499        157
1500        734
1520          2
1525          2
1530          2
1545          1
1549          5
1550        150
1555          7
1560          1
1570          2
1575          2
1579          1
1580          5
1590         43
1595          3
1599         92
1600        327
1630          2
1640          1
1642          1
1645          1
1649          8
1650        238
1659          1
1660          2
1666          3
1670          2
1675          2
1680          8
1689          1
1690         43
1695          2
1698          1
1699         85
1700        268
1730          1
1749          5
1750        238
1755          1
1759          1
1760          1
1765          1
1770          1
1775          1
1777          4
1780          1
1790         42
1795          1
1797          1
1798          1
1799         73
1800        355
1820          1
1840          4
1845          1
1849          5
1850        216
1856          1
1860          1
1870          1
1875          2
1880          6
1888          3
1890         38
1895          1
1899         53
1900        239
1906          1
1925          1
1930          1
1933          1
1935          1
1945          2
1949          1
1950        208
1955          1
1960          1
1970          2
1975          1
1980         15
1981          1
1984          1
1985          1
1990        117
1995          4
1996          1
1998          4
1999        322
2000        460
2001          1
2004          1
2033          1
2035          1
2050         27
2070          1
2090          2
2095          1
2099         21
2100        208
2111          2
2128          1
2134          1
2140          1
2149          2
2150         95
2175          1
2180          1
2190         29
2195          1
2199         52
2200        382
2210          6
2222         27
2225          1
2241          1
2245          1
2249          2
2250        147
2265          2
2270          1
2280          6
2288          1
2290         29
2295          2
2299         38
2300        290
2321          2
2333          5
2340          3
2349          2
2350        127
2359          1
2380          2
2390         31
2398          2
2399         55
2400        193
2410          1
2430          1
2444          5
2449          5
2450        120
2455          1
2459          1
2460          1
2470          2
2479          1
2480          9
2490         66
2495          1
2496          1
2498          1
2499        136
2500        643
2549          1
2550         64
2555          5
2569          1
2570          1
2580          2
2589          1
2590         19
2598          1
2599         50
2600        241
2649          3
2650        125
2651          1
2655          1
2660          2
2666          3
2670          1
2671          1
2680          2
2690         22
2695          1
2699         33
2700        221
2725          1
2749          8
2750        169
2775          2
2777          3
2780          3
2785          1
2789          1
2790         29
2798          1
2799         53
2800        291
2849          1
2850        131
2860          3
2870          1
2874          1
2880          1
2888          4
2890         26
2895          1
2899         30
2900        256
2910          1
2920          1
2944          1
2949          4
2950        173
2980          7
2985          1
2986          1
2989          1
2990        134
2993          1
2995          5
2997          1
2998          4
2999        242
3000        365
3001          2
3010          1
3012          1
3020          1
3049          1
3050          9
3055          1
3060          2
3075          1
3080          1
3099         11
3100        133
3111          2
3119          1
3120          1
3122          1
3125          1
3129          1
3149          3
3150         64
3178          1
3180          2
3190         12
3195          1
3199         37
3200        261
3210          1
3211          1
3220          1
3222          2
3230          2
3240          2
3249          3
3250        109
3260          1
3266          1
3279          1
3280          3
3285          1
3290         21
3295          1
3299         35
3300        197
3318          1
3330          3
3333         39
3349          1
3350         61
3360          1
3380          4
3390         18
3395          1
3399         24
3400        137
3410          1
3420          1
3425          1
3444          2
3449          1
3450         82
3455          1
3456          2
3470          2
3475          1
3480          5
3485          1
3490         46
3495          6
3498          2
3499         80
3500        498
3501          1
3540          1
3549          3
3550         46
3555          4
3560          1
3580          1
3589          1
3590         13
3599         22
3600        127
3620          1
3633          1
3650         83
3660          1
3666          6
3670          3
3680          2
3690         28
3699         35
3700        155
3710          1
3725          1
3749          2
3750        112
3760          1
3774          1
3777          3
3780          1
3790         24
3795          1
3799         41
3800        264
3849          1
3850         78
3876          1
3879          1
3880          2
3888          4
3890         18
3895          2
3899         31
3900        238
3940          2
3945          1
3949          1
3950        135
3952          1
3955          2
3957          1
3965          1
3969          1
3970          1
3975          1
3980          7
3989          1
3990        103
3993          1
3995          3
3996          1
3998          4
3999        212
4000        246
4004          1
4005          1
4050          3
4090          3
4099          8
4100         86
4111          1
4123          1
4125          1
4149          1
4150         42
4159          1
4180          1
4190         14
4199         32
4200        226
4201          1
4210          1
4220          1
4222          1
4239          1
4249          4
4250         92
4270          1
4275          1
4279          1
4280          1
4286          1
4290         14
4295          1
4299         26
4300        132
4320          1
4333          1
4335          1
4349          1
4350         45
4390         19
4398          1
4399         26
4400         88
4440          1
4444         23
4450         35
4470          2
4475          1
4480          2
4485          1
4490         38
4495          1
4497          2
4498          2
4499         58
4500        394
4510          1
4525          1
4545          1
4549          1
4550         28
4555          2
4567          1
4580          2
4590         16
4598          1
4599         14
4600         82
4649          1
4650         61
4655          1
4666          2
4680          2
4690         13
4699         22
4700         99
4740          1
4750         66
4755          1
4770          1
4777          1
4780          1
4790         14
4799         15
4800        186
4830          2
4840          1
4850         59
4855          1
4860          1
4877          1
4888          2
4890          7
4895          1
4899         19
4900        188
4949          3
4950        126
4955          1
4980         10
4985          2
4990         99
4994          1
4995          7
4998          4
4999        174
5000        239
5012          1
5015          1
5049          1
5050          3
5099          4
5100         51
5120          1
5150         18
5180          1
5185          1
5190          4
5195          1
5198          1
5199         19
5200        156
5222          3
5248          1
5249          2
5250         56
5255          1
5290         15
5298          1
5299         15
5300         86
5333          3
5350         32
5380          2
5390         10
5399         15
5400         74
5444          1
5450         37
5454          1
5475          1
5485          1
5489          1
5490         46
5495          1
5499         48
5500        340
5540          1
5550         18
5555         31
5590          5
5599          5
5600         91
5634          1
5650         29
5666          2
5685          1
5689          1
5690          9
5695          2
5699         11
5700         67
5740          1
5749          1
5750         41
5790          8
5799         18
5800        123
5849          1
5850         40
5855          1
5870          2
5879          1
5880          2
5888          2
5890         13
5895          1
5899         11
5900        209
5913          1
5924          1
5949          1
5950         81
5980          4
5990         86
5995          6
5997          1
5998          1
5999        140
6000        190
6039          1
6050          1
6099          4
6100         40
6140          1
6149          2
6150         16
6155          1
6170          1
6190          5
6195          1
6199         19
6200        106
6202          1
6208          1
6222          2
6249          2
6250         48
6279          1
6290         12
6295          1
6299         24
6300        103
6333          1
6340          1
6350         28
6389          1
6390          9
6399         12
6400         62
6410          1
6444          1
6447          1
6450         43
6460          1
6470          1
6479          1
6480          5
6490         38
6495          1
6498          1
6499         49
6500        300
6530          1
6543          1
6545          1
6550         17
6578          1
6590          7
6599          8
6600         53
6650         17
6666         15
6680          3
6690          8
6695          1
6699         10
6700         69
6725          1
6745          1
6749          1
6750         57
6755          1
6770          1
6777          2
6790         11
6792          1
6795          2
6799          9
6800        128
6840          2
6849          2
6850         41
6870          2
6879          1
6888          2
6889          1
6890         16
6895          1
6899         16
6900        165
6911          1
6920          1
6940          1
6950         67
6969          1
6970          3
6977          1
6979          1
6980          5
6989          2
6990         75
6995          3
6998          1
6999        106
7000        165
7050          1
7085          1
7099          2
7100         23
7150         15
7190          7
7199          9
7200        105
7234          1
7240          1
7249          1
7250         50
7280          1
7290          7
7295          1
7298          1
7299         15
7300         71
7333          1
7350         29
7373          1
7380          1
7390          8
7395          2
7399         14
7400         66
7420          1
7430          1
7435          1
7449          1
7450         33
7460          1
7470          1
7490         43
7498          2
7499         58
7500        214
7550          6
7555          3
7590          8
7599         11
7600         68
7650         26
7655          1
7680          1
7690         10
7699          8
7700         59
7750         31
7777         22
7790          8
7795          1
7799         12
7800        104
7820          1
7825          1
7840          1
7849          2
7850         25
7880          2
7888          4
7890          3
7899         15
7900        156
7930          1
7949          2
7950         66
7980          6
7985          1
7990         70
7995          2
7999        115
8000        161
8008          1
8050          2
8098          1
8099          1
8100         24
8150         16
8180          1
8190          4
8199          7
8200         67
8222          2
8240          1
8249          2
8250         36
8285          1
8290          5
8299         13
8300         46
8333          2
8345          1
8350         19
8360          1
8390          8
8399          6
8400         42
8419          1
8420          1
8449          1
8450         33
8490         28
8495          1
8499         40
8500        227
8550         15
8555          2
8590          4
8595          1
8599         10
8600         37
8650         19
8655          1
8666          2
8690          5
8699         10
8700         59
8720          1
8730          1
8750         38
8777          1
8790          6
8798          1
8799          9
8800         71
8850         16
8854          1
8875          1
8880          2
8888         16
8890          4
8899          3
8900        144
8930          1
8944          1
8950         52
8970          1
8980          1
8990         69
8995          2
8999         95
9000        117
9050          1
9099          2
9100         18
9130          1
9149          1
9150         10
9190          2
9195          1
9199          7
9200         62
9203          1
9249          1
9250         36
9270          1
9280          1
9290          9
9299          6
9300         43
9325          1
9349          2
9350         17
9390          4
9399          9
9400         28
9450         23
9455          1
9480          1
9490          7
9499         32
9500        203
9550          2
9555          1
9577          1
9590          1
9599          3
9600         25
9650         11
9655          1
9666          1
9690          5
9699          6
9700         31
9725          1
9750         29
9773          1
9777          2
9790          7
9799          8
9800         78
9845          1
9850         22
9870          2
9890         11
9895          2
9899          2
9900        135
9950         32
9970          1
9975          2
9980         10
9989          1
9990         84
9995          5
9998          2
9999        131
10000       108
10009         1
10050         2
10080         1
10090         1
10100        10
10111         1
10150         3
10175         1
10199         7
10200        23
10230         1
10250        14
10280         2
10290         5
10299         9
10300        25
10333         1
10350        11
10390         1
10399         3
10400        31
10450        12
10480         1
10488         1
10490        24
10495         1
10498         1
10499        22
10500       183
10550         6
10555         1
10556         1
10590         3
10599         5
10600        22
10650         8
10666         2
10680         1
10690         1
10699         3
10700        24
10750        10
10777         1
10790         1
10799         5
10800        56
10830         1
10850         8
10880         2
10888         1
10890         3
10899         3
10900        93
10949         1
10950        25
10975         2
10980         5
10988         1
10989         1
10990        52
10995         1
10998         3
10999        52

From analysing the above data we can see that there is more of less even distribution amongst the price range coloumn. There are a 156 entries where the price is 1 and after 350,000 there is a huge spike in price. 

So lets remove all the rows where the price is 1 or where the price is above 350,000.

In [10]:
autos = autos[autos['price']!=1]
autos = autos[autos['price']<=350000]
print(autos['price'].describe().apply(lambda x: format(x, 'f')), '\n')

count     48409.000000
mean       5907.909707
std        9068.263463
min           2.000000
25%        1250.000000
50%        3000.000000
75%        7490.000000
max      350000.000000
Name: price, dtype: object

Now there are 48409 rows remaining in our data set, before we continue lets rename the odometer column to make it easier to understand and work with.

In [11]:
autos.rename(columns={'odometer' : 'odometer_km'}, inplace = True)
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer_km', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'n_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

## Exploring the date columns

There are 5 columns that should represent date values. We further explore the data columns involving dates:

* dateCrawled - When this ad was first crawled. All field-values are taken from this date.
* yearOfRegistration - The year in which the car was first registered.
* monthOfRegistration - The month in which the car was first registered.
* dateCreated - The date on which the eBay listing was created.
* lastSeenOnline - When the crawler saw this ad last online.

In [12]:
date_cols = ['date_crawled', 'last_seen', 'ad_created', 'registration_month', 'registration_year']

for col in date_cols:
    print("Data type of {} column is: {}".format(col,autos[col].dtype))

Data type of date_crawled column is: object
Data type of last_seen column is: object
Data type of ad_created column is: object
Data type of registration_month column is: int64
Data type of registration_year column is: int64

From running the for loop above we we can see:
The date_crawled, last_seen, and ad_created columns are of object type.

To get useful quantitative information out of these columns they will first need to be converted into datetime formats

In [13]:
def format_date(dataset,column):
    newformat = []
    for element in dataset[column]:
        element = dt.datetime.strptime(element, "%Y-%m-%d %H:%M:%S")
        element = element.date()
        newformat.append(element)
    dataset[column] = newformat   
    
format_date(autos,'date_crawled')
format_date(autos,'ad_created')
format_date(autos,'last_seen')

In [14]:
autos['date_crawled'].value_counts().sort_index() #Displays the value counts for date_crawled column sorted by date.

2016-03-05    1228
2016-03-06     681
2016-03-07    1745
2016-03-08    1611
2016-03-09    1600
2016-03-10    1559
2016-03-11    1578
2016-03-12    1789
2016-03-13     758
2016-03-14    1773
2016-03-15    1659
2016-03-16    1429
2016-03-17    1531
2016-03-18     625
2016-03-19    1682
2016-03-20    1830
2016-03-21    1806
2016-03-22    1594
2016-03-23    1562
2016-03-24    1423
2016-03-25    1528
2016-03-26    1561
2016-03-27    1507
2016-03-28    1687
2016-03-29    1652
2016-03-30    1633
2016-03-31    1540
2016-04-01    1633
2016-04-02    1718
2016-04-03    1868
2016-04-04    1766
2016-04-05     633
2016-04-06     153
2016-04-07      67
Name: date_crawled, dtype: int64

There are some drops on certain days, this could be attributed to lesser posts being available or something wrong fromt he crawlers side. But in any case it shouldnt be too much of an issue and shouldnt affect our analysis.

In [15]:
autos['ad_created'].value_counts().sort_index()

2015-06-11       1
2015-08-10       1
2015-09-09       1
2015-11-10       1
2015-12-05       1
2015-12-30       1
2016-01-03       1
2016-01-07       1
2016-01-10       2
2016-01-13       1
2016-01-14       1
2016-01-16       1
2016-01-22       1
2016-01-27       3
2016-01-29       1
2016-02-01       1
2016-02-02       2
2016-02-05       2
2016-02-07       1
2016-02-08       1
2016-02-09       1
2016-02-11       1
2016-02-12       2
2016-02-14       2
2016-02-16       1
2016-02-17       1
2016-02-18       2
2016-02-19       3
2016-02-20       2
2016-02-21       3
2016-02-22       1
2016-02-23       4
2016-02-24       2
2016-02-25       3
2016-02-26       2
2016-02-27       6
2016-02-28      10
2016-02-29       8
2016-03-01       5
2016-03-02       5
2016-03-03      42
2016-03-04      72
2016-03-05    1110
2016-03-06     742
2016-03-07    1684
2016-03-08    1612
2016-03-09    1603
2016-03-10    1545
2016-03-11    1594
2016-03-12    1780
2016-03-13     824
2016-03-14    1707
2016-03-15    1646
2016-03-16    1454
2016-03-17    1514
2016-03-18     658
2016-03-19    1628
2016-03-20    1833
2016-03-21    1817
2016-03-22    1585
2016-03-23    1554
2016-03-24    1420
2016-03-25    1534
2016-03-26    1564
2016-03-27    1503
2016-03-28    1693
2016-03-29    1649
2016-03-30    1624
2016-03-31    1542
2016-04-01    1632
2016-04-02    1703
2016-04-03    1880
2016-04-04    1784
2016-04-05     571
2016-04-06     157
2016-04-07      60
Name: ad_created, dtype: int64

There is a sharp increase in the number of ads posted after 2016-03-04.

In [16]:
autos['last_seen'].value_counts().sort_index()

2016-03-05       52
2016-03-06      210
2016-03-07      262
2016-03-08      357
2016-03-09      466
2016-03-10      514
2016-03-11      599
2016-03-12     1152
2016-03-13      429
2016-03-14      611
2016-03-15      768
2016-03-16      796
2016-03-17     1359
2016-03-18      355
2016-03-19      766
2016-03-20      999
2016-03-21      998
2016-03-22     1035
2016-03-23      900
2016-03-24      956
2016-03-25      929
2016-03-26      814
2016-03-27      756
2016-03-28     1011
2016-03-29     1081
2016-03-30     1198
2016-03-31     1154
2016-04-01     1107
2016-04-02     1203
2016-04-03     1220
2016-04-04     1186
2016-04-05     6048
2016-04-06    10727
2016-04-07     6391
Name: last_seen, dtype: int64

The data in this column looks more or less uniform, not much analysis is required with this column.

Lets look further into the registration year column.

In [17]:
autos['registration_year'].describe()

count    48409.000000
mean      2004.774319
std         88.783278
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

Because a car can't be registered after the listing was seen, any vehicle with a registration year above 2016 is definitely inaccurate.

Since cars were only first officially invented in 1885 any registration years before that is being removed as well.

In [18]:
autos = autos[autos["registration_year"].between(1885,2016)]

In [19]:
print(autos['registration_year'].value_counts().sort_index(), '\n')
print(autos['registration_year'].describe())

1910       4
1927       1
1929       1
1931       1
1934       2
1937       4
1938       1
1939       1
1941       2
1943       1
1948       1
1950       2
1951       2
1952       1
1953       1
1954       2
1955       2
1956       4
1957       2
1958       4
1959       6
1960      22
1961       6
1962       4
1963       8
1964      12
1965      17
1966      22
1967      26
1968      26
1969      19
1970      37
1971      26
1972      33
1973      23
1974      24
1975      18
1976      21
1977      22
1978      42
1979      34
1980      82
1981      28
1982      41
1983      51
1984      51
1985      94
1986      71
1987      72
1988     134
1989     171
1990     342
1991     339
1992     368
1993     424
1994     629
1995    1213
1996    1364
1997    1942
1998    2352
1999    2886
2000    3128
2001    2632
2002    2480
2003    2697
2004    2700
2005    2927
2006    2670
2007    2274
2008    2213
2009    2083
2010    1589
2011    1623
2012    1310
2013     802
2014     662
2015     391
2016    1209
Name: registration_year, dtype: int64

count    46531.000000
mean      2002.926049
std          7.159928
min       1910.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       2016.000000
Name: registration_year, dtype: float64

Now from the above data we can see the distribution of registration years amongst the data. We can also see that the mean registration year is 2002 suggesting that mostly older used cars (around 10+ years old) are being sold in majority.

Lets focus now on aggregation of data for the brand coloumn. 

Lets try to find out the average price per brand listed on the eBay Kleinanzeigen website.

In [20]:
autos['brand'].describe()

count          46531
unique            40
top       volkswagen
freq            9834
Name: brand, dtype: object

We can see there are 40 unique brands and the top most mentioned brand is volswagen. This is not so surprising as the data is from the German ebay website and volswagen cars are from germany.

For the ease of analysis, lets only focus on the top 10 brands in terms of no. of cars listed on site for now.

In [21]:
top_10_brands = autos['brand'].value_counts().head(10).index
top_10_brands

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford', 'renault',
       'peugeot', 'fiat', 'seat'],
      dtype='object')

In [22]:
autos = autos[autos.brand.isin(top_10_brands)]
autos['brand'].value_counts()

volkswagen       9834
bmw              5116
opel             4996
mercedes_benz    4488
audi             4030
ford             3256
renault          2193
peugeot          1390
fiat             1195
seat              850
Name: brand, dtype: int64

This table gives us a good indicator of popular used cars in the german markets.
We can see that volkswagens have the most listings while seat has the least listings on the website.

In [23]:
avg_brand_price = {}

for element in top_10_brands:
    avg_brand_price[element] = round(autos[autos['brand']==element].price.mean())

sorted(avg_brand_price.items(), key=lambda item: item[1]) #prints the dictonary we created sorted by its values

[('renault', 2484),
 ('fiat', 2818),
 ('opel', 2991),
 ('peugeot', 3101),
 ('ford', 3758),
 ('seat', 4413),
 ('volkswagen', 5418),
 ('bmw', 8367),
 ('mercedes_benz', 8657),
 ('audi', 9362)]

From the above data we can broadly classify these cars into 3 seperate categories:

* Cheap (<3000): renault, fiat, opel
* Mid-Range (3000 - 6000): peugeot, ford, seat, volkswagen
* Expensive (6000 - 10000): bmw, mercedes-benz, audi

Lets look further into the top 6 brands (in terms of value counts) and create a new dataframe (or table) that lets us compare each brands average price and average mileage.

In [24]:
top_6_brands = autos['brand'].value_counts().head(6).index #List of top 6 brands by value counts

top6_avg_bp = {}                                           #Empty dict to store the average brand price for each brand
                                                           #Key = Brand Name, Value = Avg Brand Price

for element in top_6_brands:
    top6_avg_bp[element] = avg_brand_price[element]        #Loop to create a dictionary of top 6 brands average prices.
    
avg_brand_price_series = pd.Series(top6_avg_bp)            #Converts the dictonary into a series

aggregate_df = pd.DataFrame(avg_brand_price_series, columns = ['avg_price']) #Converts the series into dataframe

In [25]:
top6_avg_brand_mileage = {}                                #Empty dict to store average mileage for each brand

for element in top_6_brands:                               #Loop to create a dictionary for the top 6 brands average mileage.
    top6_avg_brand_mileage[element] = round(autos[autos['brand']==element].odometer_km.mean())

sorted(top6_avg_brand_mileage.items(), key=lambda item: item[1]) #sorts and displays the top 6 brands average mileage.

[('ford', 124211),
 ('volkswagen', 128709),
 ('audi', 129208),
 ('opel', 129322),
 ('mercedes_benz', 130839),
 ('bmw', 132554)]

In [26]:
avg_brand_mileage_series = pd.Series(top6_avg_brand_mileage) #Coverts the dictionary into a series

aggregate_df['mileage'] = avg_brand_mileage_series #adds the series to the dataframe aggregate_df

aggregate_df

               avg_price  mileage
volkswagen          5418   128709
bmw                 8367   132554
opel                2991   129322
mercedes_benz       8657   130839
audi                9362   129208
ford                3758   124211

From the above data we can see that mileage does not directly affect the average price across the brands.

In the case we were checking if mileage affects price within a particular brand, the outcome is likely that the older cars with more mileage would be sold for a cheaper price on average. 

In conclusion its difficult to say that mileage affects the average price of a particular brand.

However what this new dataframe does tell us is brands normally tend to hold their value and sell for resale prices that would be somewhat proportional to their initial costs straight out of the dealership.
As we can see all the brands have an average mileage within the range of 124,000kms to 132,000kms, this is not a large spread, since its less than 10,0000kms. However the prices for Audis are above 9000 whilst opels and fords cost less than half of that price for approximately the same mileage.